body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(29, 28, 28);
}
.content {
  width: 100%;
}
.home {
  padding-top: 20px;
}
.videoInfo {
  padding-top: 20px;
}
.field {
  width: 100%;
}
.allVideos {
  margin-top: 50px;
}
